.convocationDetail {
    padding: 0 2em 1em;
    border-radius: 1em;
    max-width: 23em;
    margin-top: 2em;
}

.borderProgramInfo {
    margin-top: 1em;
    border: 0.1em solid #a4b13039;
    border-radius: 0.5em;
}

.programInfo {
    background-color: #b4de7a19;
    box-shadow: inset 1em 0.4em 0.7em 0.1em rgba(0, 0, 0, 0.503);
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    padding: 1em;
    align-items: center;
    margin: 0.7em;
}

.detailItem {
    margin: 0.7em;
    text-align: start;
}

.titleDetail {
    font-weight: bold;
    text-shadow: 0.05em 0.05em 0.06em #ffffff;
    text-align: center;
}