.convocationDetail {
    margin: 2em;
    margin-top: 4em;
    padding: 2em;
    border: 1em solid #749b7381;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
}
.program-info {
    
    border: 0.1em solid #749b7381;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.program-details {
    margin-top: 0.3em;
}

.detail-item {
    margin: 0.7em;
}

.user-list {
    margin-top: 0.1em;
}

.user-item {
    margin-bottom: 0.2em;
}

.user-item h4 {
    margin: 0;
    font-size: 1em;
}

.user-item p {
    margin: 0;
    font-size: 0.8em;
    color: #818181;
}