.convocationDetail {
    margin: 1em;
    margin-top: 4em;
    padding: 0.3em;
    border: 1em solid #749b7381;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
}
.programInfo {
    /* padding: 0.2em; */
    border: 0.1em solid #749b7381;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.programDetails {
    /* margin-top: 0.3em; */
}

.detailItem {
    margin: 0.7em;
}

.studentList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1em; /* Espacio entre estudiantes */
}

.studentItem {
    /* flex: 1;  */
    max-width: calc(50% - 20px); /* Establece el ancho máximo de cada columna (50% - espacio) */
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px; /* Espacio entre estudiantes */
    overflow: hidden;
}
.titleDetail{
    text-align: center;
    text-shadow: 0.05em 0.05em 0.06em rgba(0, 0, 0, 0.5);
}