.containerForum{
    display: flex;
    justify-content: center;
    align-items: center;
}

.messageContainer {
    margin-top: 3.8em;
    padding: 1em;
    /* min-width: 100%; */
    background-color: #f5f5f5;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center; 
}
.messageText{
    /* display: contents; */
        padding-top: 1em;
        max-height: 35em; 
        overflow-y: auto; 
}

.responseInfo{
    background-color: rgba(78, 126, 99, 0.198);
    border-radius: 0.5em;
    padding: 0.3em;
    display: inline-block;
}
.messageItem {
    margin: 0.5em;
    padding: 0.7em;
    border-radius: 1em;
}

.messageItem p {
    margin: 0;
}

.messageSend {
    background-color: #DCF8C6;
    align-self: flex-end;
}

.messageFrom {
    background-color: #EAEAEA;
    align-self: flex-start;
}