.containerForum{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-top: 6em; */
    /* position: relative; */
    min-height: 100vh;
    min-width: 100vw;
    
}

.programSelectionContainer {
    /* position: fixed;
    top: 0; */
    width: 100%;
    /* z-index: 1;  */
}

.messageContainer {
    display: flex;
    flex-direction: column;
    /* padding: 1rem; */
    margin-top: 1em;
    /* margin-bottom: 6em; */
    padding-top: 0.5em;
    width: 90%;
    border: 0.1em solid rgb(125, 6, 6);
    background-color: #f5f5f5;
    border-radius: 0.5em;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  */
    
    
    
}
.messageText{
    /* margin-bottom: 2em;  */
        padding-bottom: 0.5em;
        height: 28em; 
        overflow-y: auto; 
}



.responseInfo{
    background-color: rgba(78, 126, 99, 0.198);
    border-radius: 0.5em;
    padding: 0.3em;
    display: inline-block;
}
.messageItem {
    
    margin: 0.5em;
    padding: 0.7em;
    border-radius: 1em;
}

.messageItem p {
    margin: 0;
}

.messageSend {
    background-color: #DCF8C6;
    align-self: flex-end;
}

.messageFrom {
    background-color: #EAEAEA;
    align-self: flex-end;
}