.containerForum {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
}

.messageContainer {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    padding-top: 0.5em;
    border: 0.1em solid rgb(125, 6, 6);
    background-color: #f5f5f5;
    border-radius: 0.5em;
}

.messageText {
    padding-bottom: 0.5em;
    height: 28em;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.responseInfo {
    background-color: rgba(78, 126, 99, 0.198);
    border-radius: 0.5em;
    padding: 0.3em;
    display: inline-block;
    border: 0.01em solid rgb(123, 121, 121);
}

.messageItem {
    border: 0.001em solid rgb(51, 86, 16);
    margin: 0.5em;
    padding: 0.7em;
    border-radius: 1em;
    word-wrap: break-word;
}

.messageItem p {
    margin: 0;
}

.deleteMessageButton {
    font-size: 0.8em;
    text-align: center;
    background-color: #DCF8C6;
    color: rgb(246, 0, 0);
    width: 1.5em;
    height: 1.7em;
    border-radius: 50%;
    cursor: pointer;
    border: 0.0001em solid rgb(63, 3, 3);
}

.deleteMessageButton:hover {
    background-color: rgb(66, 104, 12);
    color: white;
}

.messageSend {
    background-color: #DCF8C6;
    align-self: flex-end;
    text-align: start;
    max-width: 70%;
}

.messageFrom {
    background-color: #EAEAEA;
    max-width: 70%;
    text-align: start;
    align-self: flex-start;
}