.dataUser {
    border: 0.01em solid rgb(118, 71, 24);
    box-shadow: inset 1em 0.4em 0.7em 0.1em rgba(0, 0, 0, 0.503);
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5em;
    background-color: #9f512121;
    margin-bottom: 1em;
    padding: 1.3em;
}

.titleProfile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em 0 1em;
    font-size: 1.2em;
    font-weight: bold;
    height: 4em;
    padding: 0.5em;
    border: 0.01em solid green;
    border-radius: 0.5em;
}

.profileLabel {
    /* display: flex; */
    justify-content: center;
    font-weight: bold;
    border: 0.1em solid rgba(71, 134, 50, 0.665);
    border-radius: 0.5em;
    padding: 0.1em;
    background-color: #699f21ac;
}

.profileData {
    padding: 0.4em;
    padding-bottom: 0.5em;
    border-radius: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 2em;
    font-size: 1.1em;
    background-color: #d2eeca4d;
    box-shadow: inset 0.01em 0.01em 0.4em 0.1em rgba(10, 32, 14, 0.41);
    border: 0.09em solid rgba(178, 137, 66, 0.706);
    text-align: start;
    overflow: hidden;
}

.containerButtons {
    display: flex;
    justify-content: center;
}

.buttonGroup {
    display: flex;
    align-items: center;
}

.deleteButton {
    background-color: #90a729fd;
    color: #ffffff;
    padding: 0.6em 0.9em;
    border: none;
    border-radius: 1em;
    margin-left: 1em;
    font-size: 1em;
    cursor: pointer;
    border: 0.01em solid rgb(9, 71, 9);
    box-shadow: inset 0.04em 0.04em 0.5em 0.2em rgba(21, 61, 9, 0.532);
    transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
}

.deleteButton.hovered {
    background-color: #ff0000;
    border-color: #ff0000;
    box-shadow: inset 0.04em 0.04em 0.5em 0.2em rgba(176, 0, 0, 0.532);
}