/* 

.userCard {
    display: flex;
    justify-content: center;
}


.userCardTitle:hover {
    background-color: rgba(45, 79, 134, 0.722);
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.convocations {
    display: flex;
    justify-content: center;
    margin: 0.50em;

} */
/* 
.profileHeader h3 {
    font-size: 2em;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
} */


/* .profile-table {
    width: 100%;
    background-color: #ff6600;
  } */

.dataUser {
    display: flex;
    
    border: 0.01em solid rgb(118, 71, 24);
    box-shadow: inset 1em 0.4em 0.7em 0.1em rgba(0, 0, 0, 0.503);
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5em;
    background-color: #9f512121;
    margin-bottom: 1em;
    padding: 1.3em;
}

.profileLabel {
    display: flex;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    border: 0.1em solid rgba(71, 134, 50, 0.665);
    /* width: 20em; */
    /* border: 0.01em solid rgb(20, 18, 16); */
    border-radius: 0.5em;
    padding-bottom: 0.5em;
    /* margin-left: 1em; */
    background-color: #699f21ac; 
}

.profileData {
    padding: 0.5rem;
    padding-bottom: 0.5em;
    border-radius: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 2em;
    font-size: 1.3em;
    background-color: #d2eeca4d; 
    box-shadow: inset 0.01em 0.01em 0.4em 0.1em rgba(10, 32, 14, 0.41); 
    border: 0.09em solid rgba(178, 137, 66, 0.706);
}
.deleteButton{
    background-color: #90a729fd;
    color: #ffffff;
    padding: 0.6em 0.9em;
    border: none;
    border-radius: 1em;
    margin-left: 1em;
    margin-bottom: 0.3em;
    font-size: 1em;
    cursor: pointer;
    border: 0.01em solid rgb(9, 71, 9);
    box-shadow: inset 0.04em 0.04em 0.5em 0.2em rgba(21, 61, 9, 0.532);
    /* margin-top: 1.3em; */
}
