.inputConvocation {
    text-align: center;
    width: 12em;
    height: 2.5em;
    border-radius: 2em;
}
.cardCreate{
    display: flex;
    flex-direction: column;
    background-color: rgba(142, 106, 53, 0.239);
    border-radius: 0.3em;
    box-shadow:  0.3em 0.2em 0.4em 0.1em rgba(6, 32, 4, 0.476); 
}

.rowCreate {
    display: flex;
    margin: 1em;
    justify-content: end;
}