.productCardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2em;
    text-align: center;
}

.productCardDesign {
    width: 17em;
    width: 17em;
    margin: 2em;
    margin-bottom: 1em;
    border: 0.1em solid #2e3c5a79;
    background-color: #98a84e6c;
    padding: 1.5em;
    border-radius: 2em;
    display: flex;
    flex-direction: column; 
    align-items: center;
    transition: all 0.3s ease;
    box-shadow: 0.4em 0.4em 0.7em 0.1em rgba(0, 0, 0, 0.503);
}

.productImgDesign {
    width: 13em;
    height: 12em;
    border-radius: 2em;
    transition: all 0.3s ease;
}

.productImgDesign:hover {
    transform: scale(1.5); 
    transition: 0.5s;
}

.productCardDesign h1 {
    font-size: 1.2em;
    margin-top: 0.5em;
}
.productCardDesign:hover {
    transform: scale(1.1); 
    background-color: rgba(199, 78, 45, 0.2);
    transition: 0.3s;
}
.akdemyTitle {
    margin-top: 1em;
    font-size:5em;
    font-weight:bold; 
    text-transform: uppercase; 
    color: #ff6600;
    text-align: center;
}
.centerTitle{
    display: flex;
    justify-content: center;
    align-items: center;
}
.akdemyTitle1{
    font-size:2.4em; 
    font-weight:bolder; 
    text-transform: uppercase; 
    color: #ff6600; 
}