.DetailProgram {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
}

.DetailProgram1 {
    box-shadow: inset 0 0 2em #98a84e92;
    margin-top: 3.8em; 
    border-radius: 2em;
    padding: 1em; 
    text-align: center;
    color: #834016;
    max-width: 100em; 
    width: 90%; 
    overflow: hidden; 
}

.DetailProgram1 img {
    border-radius: 2em;
    max-width: 100%;
    height: auto;
    padding: 1em;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.DetailProgram1 h2 {
    font-size: 1.8em; 
    margin-bottom: 0.5em;
}

.DetailProgram1 h4 {
    margin-top: 0.3em;
    font-size: 1em; 
}

.DetailProgram1 img:hover {
    transform: scale(0.9); 
}