.headerDesign {
    position: fixed;
    top: 0;
    left: 0;
    height: 8vh;
    width: 100%;
    background-color: #98a84ed3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.linksDesign {
    display: flex;
    flex-direction: row;
    padding: 0.5em;
} 

.linksDesignToken {
    display: flex;
    margin-bottom: 0.3em;
    padding: 0.2em;
}

.headerLink {
    padding: 0.1em;
    font-weight: bolder;
    font-size: 1.2em;
    transition: 0.5s;
    cursor: pointer;
    margin-bottom: 0.3em;
    margin-right: 0.5em;
}

.headerLink:hover {
    transition: 0.5s;
    color: darkgrey;
} 