.headerDesign {
    position: fixed;
    top: 0;
    left: 0;
    height: 8vh;
    width: 100%;
    background-color: #98a84ed3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    text-shadow: 0.05em 0.05em 0.06em #dcfc49;
}
.linksDesign {
    display: flex;
    flex-direction: row;
    padding: 0.5em;
} 

.linksDesignToken {
    display: flex;
    margin-bottom: 0.3em;
    padding: 0.2em;
}

.headerLink {
    border: 0.01em solid #8da03cd3;
    border-radius: 0.5em;
    padding: 0.2em;
    font-weight: bolder;
    font-size: 1.2em;
    transition: 0.5s;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    margin-right: 0.3em;
}

.headerLink:hover {
    background-color: transparent;
    box-shadow: inset 0.2em 0.2em 0.7em 0.1em rgba(0, 0, 0, 0.503);
    color: rgb(120, 120, 120);
} 