.loginDataUser {
    box-shadow: inset 0.5em 0.4em 0.7em 0.1em rgba(0, 0, 0, 0.503);
    border-radius: 2em;
    background-color: #699f212b;
}

.labelLogin {
    width: 10em;
    font-weight: bold;
    font-size: 0.9em;
    text-align: center;
    border: 0.1em solid rgba(71, 134, 50, 0.665);
    border-radius: 0.5em;
    padding: 0.2em;
    margin-top: 1em;
    background-color: #699f21bd;
    margin-bottom: -0em;
}

