#root {
  /* height: auto; */
  height: 100vh;
  width: 100vw;
  margin: auto;
  padding: 0;
  background-color: #b4de7a19;
  display: flex;
  justify-content: center;
  align-items: center;
}

.InputSearch {
  margin-top: 2em;
  border: 0.2em solid black;
  border-radius: 0.6em;
  height: 2.4em;
  width: 16em;
  box-shadow: inset -0.2em -0.01em 0.4em 0.3em rgba(40, 39, 39, 0.26);
}

.errorText {
  color: red;
  font-size: 0.75em;
}

.userContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.requestUser {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  font-weight: bold;
  color: rgb(75, 65, 65);
}

.tableContainerCheck {
  border: 0.1em solid #aca7a7;
  border-radius: 0.2em;
  overflow-x: auto;

}

.tableHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  font-weight: bold;
  border-bottom: 0.06em solid #aca7a7;
}

.tableHeaderCheck {
  overflow: hidden;
  flex: 1;
  min-width: 20%;
  padding: 0.6em;
  text-align: center;
  border-right: 0.06em solid #aca7a7;
}

.tableBodyCheck {
  display: flex;
  flex-direction: column;
}

.tableDataRow {
  display: flex;
  border-bottom: 0.06em solid #aca7a7;
}

.tableDataCheck {
  flex: 1;
  overflow: hidden;
  padding: 0.7em;
  text-align: center;
  border-right: 0.06em solid #aca7a7;
  background-color: rgba(250, 235, 215, 0.396);
}

.tableHeaderRequest {
  background-color: rgba(211, 241, 195, 0.389);
  flex: 1;
  overflow: hidden;
  padding: 0.7em;
  text-align: center;
  border-right: 0.06em solid #aca7a7;
}
.containerInputConvocations {
  display: flex;
  justify-content: center;
  align-items: center;
}
